@charset "UTF-8";

@font-face {
  font-family: "Lora";
  src: url(./fonts/Lora/Lora-VariableFont_wght.ttf), url(./fonts/Lora/Lora-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Shippori Mincho B1";
  src: url(./fonts/Shippori_Mincho_B1/ShipporiMinchoB1-Regular.ttf),
    url(./fonts/Shippori_Mincho_B1/ShipporiMinchoB1-SemiBold.ttf),
    url(./fonts/Shippori_Mincho_B1/ShipporiMinchoB1-Medium.ttf),
    url(./fonts/Shippori_Mincho_B1/ShipporiMinchoB1-Bold.ttf),
    url(./fonts/Shippori_Mincho_B1/ShipporiMinchoB1-ExtraBold.ttf);
}

@font-face {
  font-family: "Nanum Myeongjo";
  src: url(./fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf),
    url(./fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf),
    url(./fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf);
}

html {
  writing-mode: vertical-rl;
  font-family: "Lora", "Shippori Mincho B1", "Nanum Myeongjo";
  text-align: justify;
  /* 約物の調整 */
  text-spacing: space-first allow-end;
  line-height: 2;
  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}

/* タイトル文字列セット */
.title {
  string-set: title content();
}

@page {
  size: 105mm 148mm;
  width: 140pt;
  height: 300pt;
  margin: auto;
  font-size: 6pt;
}
@page :left {
  @top-left {
    /* 左上ノンブル、柱（タイトル文字列） */
    content: counter(page) "　" string(title);
    margin-left: 7pt;
    margin-top: 8.5mm;
    writing-mode: horizontal-tb;
  }
}
@page :right {
  @top-right {
    /* 右上ノンブル */
    content: counter(page);
    margin-right: 7pt;
    margin-top: 8.5mm;
    writing-mode: horizontal-tb;
  }
}

h1 {
  font-weight: bold;
  font-size: 1.35rem;
  break-after: avoid;
  line-height: 6rem;
  letter-spacing: 0.125em;
}

h2 {
  font-weight: normal;
  font-size: 1.18rem;
  text-indent: 3rem;
  break-after: avoid;
  line-height: 4rem;
}

ruby > rt {
  font-size: 50%;
}

p {
  text-indent: 1em;
  /* 段落先頭約物の調整、行末句読点ぶら下げあり */
  hanging-punctuation: first allow-end;
}

/* 縦中横 */
.tcy {
  text-combine-upright: all;
}
.upright {
  text-orientation: upright;
}

/* 圏点（ゴマ） */
em.sesame_dot {
  font-style: normal;
  text-emphasis-style: sesame;
}

/* 著者 */
.author {
  text-align: end;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.125em;
}

/* 奥付 */
.colophon {
  font-size: 0.824rem;
  line-height: 1.5rem;
  margin-block-start: 6rem;
  break-inside: avoid;
}